<div>
	<form class="form-horizontal">
  		<div class="form-group">

    <div class="col-sm-offset-1 col-sm-10 well">
			<label class="checkbox-inline">
				<input 
					type="checkbox" 
					value="sys" 
					ng-model="lines.SYS" 
					ng-change="updateLines()">SYS
			</label>
			<label class="checkbox-inline">
				<input 
					type="checkbox" 
					value="dia" 
					ng-model="lines.DIA" 
					ng-change="updateLines()">DIA
			</label>
			<label class="checkbox-inline">
				<input 
					type="checkbox" 
					value="pulse" 
					ng-model="lines.Pulse" 
					ng-change="updateLines()">Pulse
			</label>
			</div>
		</div>
	</form>
	<div id="chart"></div>
</div>