body {
  padding: 10px 0; }

.container {
  max-width: 960px; }

.row > div {
  border: 1px dotted #ccc;
  text-align: right; }

.row > div:first-child {
  text-align: left; }

.row > div:empty:before {
  content: "\2012"; }

.row.list-group-item > div {
  border: 0;
  font-weight: bold;
  color: #999; }

.ng-valid.ng-dirty {
  border-color: green;
  border-bottom-color: green;
  border-bottom-width: 2px; }

.ng-invalid.ng-dirty {
  border-color: red;
  border-bottom-color: red;
  border-bottom-width: 2px; }

.unit {
  font-weight: normal;
  color: #bbb; }

/* List */
table .fa {
  font-size: 16px;
  padding: 0 4px; }

.fa-check {
  color: green; }

.fa-times {
  color: red; }

table#records {
  margin-bottom: 3px; }

table#records input {
  width: 60px; }

table#records .fa {
  cursor: pointer; }
th.edittime{
  width:220px;
}
input.center{
  display:block;
  margin:0 auto;
}
/* Pager */
.pagination {
  margin: 0; }

/*Charts */
.c3-line-DIA, .c3-line-SYS {
  stroke-width: 2px; }

.c3-ygrid-line.maxdia line {
  stroke: red;
  stroke-width: 3px; }

.c3-ygrid-line.maxsys line {
  stroke: blue;
  stroke-width: 3px; }

/* Attr: https://stackoverflow.com/users/1238019/zessx */
/* Red */
/* Green * /
$bgDefault      : #2ecc71;
$bgHighlight    : #27ae60;
$colDefault     : #ecf0f1;
$colHover       : #d1ffed; /*/
/* Purple * /
$bgDefault      : #9b59b6;
$bgHighlight    : #8e44ad;
$colDefault     : #ecf0f1;
$colHover       : #ecdbff; /*/
/* Orange * /
$bgDefault      : #e67e22;
$bgHighlight    : #d35400;
$colDefault     : #ecf0f1;
$colHover       : #ffe6d1; /*/
/* --- Style --- */
.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b; }
  .navbar-default .navbar-brand {
    color: #ecf0f1; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #ffbbbc; }
  .navbar-default .navbar-nav > li > a {
    color: #ecf0f1; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #ffbbbc; }
  .navbar-default .navbar-nav .active > a, .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b; }
  .navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav .open > a:hover, .navbar-default .navbar-nav .open > a:focus {
    color: #ffbbbc;
    background-color: #c0392b; }
    .navbar-default .navbar-nav .open > a .caret, .navbar-default .navbar-nav .open > a:hover .caret, .navbar-default .navbar-nav .open > a:focus .caret {
      border-top-color: #ffbbbc;
      border-bottom-color: #ffbbbc; }
  .navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1; }
  .navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffbbbc;
    border-bottom-color: #ffbbbc; }
  .navbar-default .navbar-toggle {
    border-color: #c0392b; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #c0392b; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ecf0f1; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffbbbc;
      background-color: #c0392b; } }
